{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Ask Amelia</h3>
    <div class="box">
        
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        
            <div class="notification is-danger">
                {{ messages[0] }}
            </div>
        {% endif %}
        {% endwith %}
        
        <form method="POST" action="/invitation">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" name="password" placeholder="Access Code">
                </div>
            </div>
            <div class="field">
                <label class="checkbox">
                    <input type="checkbox" name="remember">
                    Remember me
                </label>
            </div>
            <button class="button is-block is-info is-large is-fullwidth">Enter</button>
        </form>
    </div>
    <h4 class="title"><em>Invite Only</em></h3>
</div
{% endblock %}
