{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Ask Amelia
</h1>
<h2 class="subtitle">Who do you want to see?</h2>
<br>
<h2>
  {% for name in render_subjects %}
    {% set render_subject_split = name.split(',') %}
    <div class="buttons has-addons is-centered">
      <button class="button is-primary is-large">
        <a href="{{ url_for('main.update', subject=render_subject_split[1) }}">
          {{ render_subject_split[0] }}
        </a>
      </button>
    </div>
    
  {% endfor %}
</h2>
  

{% endblock %}
