{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Ask Amelia
</h1>
<h2 class="subtitle">Who do you want to see?</h2>
<br>
<br>

<div class="card">
  <div class="card-content">
    <div class="content">
      Amelia Cat
    </div>
  </div>
</div>

<div class="card">
  <div class="card-content">
    <div class="content">
      Timber
    </div>
  </div>
</div>

<div class="card">
  <div class="card-content">
    <div class="content">
      Oakley
    </div>
  </div>
</div>


{% endblock %}