{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Ask Amelia
</h1>
    <div class="buttons has-addons is-right">
      <button class="button is-primary">
        Update
      </button>
    </div>


<section class="section">
  <div class="columns is-centered">
  <div class="column is-narrow">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Team</th>
          <th>Birth date</th>
          <th>Favorite color</th>
          <th>test_value</th>
          <th>favorite_dog_breed</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <input class="input is-primary" type="text" placeholder="Timber">
          </td>
          <td>
            <input class="input is-primary" type="text" placeholder="20141206">
          </td>
          <td>
            <input class="input is-primary" type="text" placeholder="green">
          </td>
          <td>
            <input class="input is-primary" type="text" placeholder="42">
          </td>
          <td>
            <input class="input is-primary" type="text" placeholder="himself">
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>
</section>
  
  
  
{% endblock %}
