{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Ask Amelia
</h1>
    <div class="buttons has-addons is-right">
      <button class="button is-primary">
        Update
      </button>
    </div>

<table class="table my-3">
  <thead>
    <tr>
      <th>Name</th>
      <th>Team</th>
      <th>Birth date</th>
      <th>Favorite color</th>
      <th>test_value</th>
      <th>favorite_dog_breed</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Timber</td>
      <td>20141206</td>
      <td>green</td>
      <td>42</td>
      <td>himself</td>
    </tr>
  </tbody>
</table>
  
  
  
{% endblock %}
