{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Ask Amelia
</h1>

{% with messages = get_flashed_messages() %}
{% if messages %}
  <div class="notification is-success successfully-saved ">
  {{ messages[0] }}
  </div>
{% endif %}
{% endwith %}

<form method="post">
  <section class="section">
    <div class="columns is-centered">
    <div class="column is-narrow">
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Birth date (yyyymmdd)</th>
            <th>Favorite color</th>
            <th>test_value</th>
            <th>favorite_dog_breed</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class="control">
                <input class="input" type="text" placeholder="{{ render_subject }}" disabled>
              </div>
            </td>
              <td>
                <div class="control">
                  <input class="input is-primary" name="birthdate" type="text" value="{{ render_birth_date }}">
                </div>
              </td>
              <td>
                <input class="input is-primary" name="favcolor" type="text" value="{{ render_favorite_color }}">
              </td>
              <td>
                <input class="input is-primary" name="testvalue" type="text"value="{{ render_test_value }}">
              </td>
              <td>
                <input class="input is-primary" name="favdogbreed" type="text"value="{{ render_favorite_dog_breed }}">
              </td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
  </section>
  <button class="button is-large is-fullwidth is-primary" type="submit">Update</button>
</form>

{% endblock %}
